@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(201, 51, 214);
}

.header {
  background-color: #282c34;
  /* min-height: 30vh; */
  height: 50%;
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.header h1 {
  font-size: 30px;
  color: lightcyan;
  font-family: Nunito;
  margin: 20px;
}

.body {
  background-color: lightgrey;
  height: 50%;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

.mission-title {
  font-family: Nunito;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mission-cards {
  font-family: Nunito;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 50px;
}

.cards h3 {
  font-family: Nunito;
  text-align: center;
  color: red;
}

.cards p {
  font-family: Nunito;
  color: red !important;
}

/* .cards {
  margin: 15px;
  width: 50%;
} */

.cards {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.07);
}